body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.btn.btn-success {
  align-items: center;
  justify-content: center;
}

.report.dropdown {
 display: flex;
}

body {
   background-color: #111;
}

h1,h4,p,button,tr {
   color: #eee;
}

input {
   border: 1px solid #2e6da4;
   border-radius: 10px;
}

.custom-btn-danger-xs {
   padding: 1px 5px;
   font-size: 12px;
   line-height: 1.5;
   border-radius: 3px;
   background-color: #ff4a4a8a;
   border-color: #2e6da4;
}

footer {
   align-items: center;
   /*justify-content: center;*/
   font-style: italic;
   size: 8px;
   color: dimgray;
   position: fixed;
   white-space: nowrap;
   margin-top: auto
}

img {
   width: 200px;
   height: 200px;
}

.btn.btn-primary {
   background-color: #52aadd;
}

.btn.btn-success {
   background-color: #408F4E;
}

.btn.btn-danger {
   background-color: #4D4D4D;
}

.poemText {
   width: 300px;
   text-align: center;
   word-wrap: break-word;
}
#id_title {
    width: 300px;
}
#id_text {
    width: 300px;
    height: 200px;
}
#id_author {
    width: 300px;
}
#id_genres {
    width: 300px;
}
.reportP {
   background-color: #e8e8e8;
   width: 300px;
   text-align: center;
   padding: 10px;
   border: 1px solid #2e6da4;
   border-radius: 10px;
}
