body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.btn.btn-success {
  align-items: center;
  justify-content: center;
}

.report.dropdown {
 display: flex;
   display: inline;
   color: #eee;
}

body {
   background-color: #111;
}

h1,h4,p,button,tr,label {
   color: #eee;
}

div {
   margin-top: 10px;
   margin-bottom: 10px;
}

.short-div {
   margin-top: 0px;
   margin-bottom: 0px;
}

label {
   margin-top: 10px;
   margin-bottom: 0px;
}

input {
   border: 1px solid #2e6da4;
   border-radius: 10px;
}

textarea {
   height: 100px;
}

.custom-btn-danger-xs {
   padding: 1px 5px;
   font-size: 12px;
   line-height: 1.5;
   border-radius: 3px;
   background-color: #ff4a4a8a;
   border-color: #eee;
}

footer {
   text-align: center;
   font-style: italic;
   size: 8px;
   color: dimgray;
   white-space: nowrap;
   margin-top: auto
}

img {
   width: 200px;
   height: 200px;
}

.btn.btn-primary {
   background-color: #52aadd;
}

.btn.btn-success {
   background-color: #408F4E;
}

.btn.btn-danger {
   background-color: #4D4D4D;
}

.poemText {
   max-width: 300px;
   text-align: center;
   word-wrap: break-word;
}
#id_title {
    max-width: 300px;
}
#id_text {
    max-width: 300px;
    height: 100px;
    border: 1px solid #2e6da4;
    border-radius: 10px;
}
#id_author {
    max-width: 300px;
}
#id_genres {
    max-width: 300px;
}

#id_type_label {
    color: #eee;
}

#id_type {
    border: 1px solid #2e6da4;
    border-radius: 5px;
}

#id_reportText {
    border: 1px solid #2e6da4;
    border-radius: 10px;
}
.reportP {
   background-color: #333;
   max-width: 300px;
   text-align: center;
   padding: 10px;
   border: 2px solid #eee;
   border-radius: 10px;
}
